[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
websocket-client = "*"
aiohttp = "*"
curio = "*"
asks = "*"
treq = "*"
trio = "*"
idna_ssl = {version = "*", markers = "python_version == '3.6'"}
contextvars = {version = "*", markers = "python_version == '3.6'"}
immutables = {version = "*", markers = "python_version == '3.6'"}

[dev-packages]
"flake8" = "*"
black = "*"
isort = "*"
tox = "*"
sphinx = "*"
sphinxcontrib-asyncio = "*"
pytest = "*"
coverage = "*"
pytest-coverage = "*"
pytest-asyncio = "*"
asynctest = "*"
mock = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
